*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/.idea/
/_windows/
/inspection/
/editor.codeinsight.xml
/editor.xml
/ignore.xml
/other.xml
/androidStudioFirstRun.xml
/jdk.table.xml
/debugger.renderers.xml
/ide.general.xml
/diff.xml
/IntelliLang.xml
/gradle.run.settings.xml
/project.default.xml
/vcs.xml
/web-browsers.xml
/github_settings.xml
/filetypes.xml
/debugger.xml
/ui.lnf.xml
